<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Accedi</h1>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <form action="/auth/login" method="POST">
        <input
          class="email"
          type="email"
          name="email"
          placeholder="Email"
          value="<%= email || '' %>"
          required
        />
        <input
          class="psw"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Fatto</button>
      </form>
      <p>Non hai un account? <a href="/auth/register">Registrati</a></p>
    </div>
  </body>
</html>
