<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/CSS/dashboard-member.css" />
  </head>
  <body>
    <div class="container">
      <h1>Ciao <%= user.name %></h1>

      <div class="info">
        <% if (isPremium(user.membershipType)) { %>
        <div class="membership">
          <h2>Dettagli abbonamento:</h2>
          <p>Abbonamento: <%= user.membershipType %></p>
          <p>
            La tua sottoscrizione scadrà il:
            <strong
              ><%= subscriptionEndDate || 'Data non disponibile' %></strong
            >
          </p>
        </div>

        <div class="bookings">
          <h2>Prenotazioni:</h2>
          <a class="bookings-handle" href="/bookings">Gestisci prenotazioni</a>
        </div>
        <% } else { %>
        <p class="non-member">
          Hai un abbonamento basic. Passa ad un abbonamento premium per
          sbloccare più funzionalità!
        </p>
        <% } %>
      </div>

      <a class="logout" href="/auth/logout">Logout</a>
    </div>
  </body>
</html>
