<!DOCTYPE html>
<html>
  <head>
    <title>Home - Palestra Fitness</title>
    <link rel="stylesheet" href="/CSS/home-page.css" />
  </head>
  <body>
    <div class="home">
      <header>
        <h1>Palestra</h1>
      </header>
      <div class="info">
        <h3>DOVE SIAMO:</h3>
        <p>Via Blah Blah Blah</p>
      </div>

      <div class="info">
        <h3>ORARI:</h3>
        <p>
          La palestra è aperta dal lunedì al venerdì, 9.00 - 12.30 / 14.00 -
          21.30
        </p>
      </div>

      <div class="button">
        <% if (!user) { %>
        <a href="/auth/login">Accedi</a>
        <a href="/auth/register">Registrati</a>
        <% } else { %>
        <p>Ciao, <%= user.name %>! Sei già loggato.</p>
        <a href="/dashboard">Vai alla Dashboard</a>
        <a href="/auth/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </body>
</html>
