@import url('https://fonts.googleapis.com/css2?family=Liter&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    background-color: rgb(12, 12, 12);
}

h1 {
    font-family: "Staatliches", serif;
    font-size: 3rem;
    margin-top: 50px;
}

h2 {
    font-family: "Staatliches", serif;
    font-size: 2rem;
}

p, h3 {
    font-family: "Liter", serif;
    font-size: 1.3rem;
}

a {
    color: limegreen;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    height: 70vh;
    width: min(500px, 90%);
    position: relative;
    color: white;
    background-color: rgb(36, 36, 36);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after,
.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;
    padding: 5px;
    border-radius: 30px;
    /* background-image: conic-gradient(from var(--angle), white, lime, white, lime, white); */
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.verify-btn {
    background-color: rgb(36, 36, 36);
    border: 1px solid limegreen;
    color: white;
    padding: 5px;
    border-radius: 7px;
    margin-left: 15px;
}

.slot-container {
    overflow: auto;
    max-height: 120px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}

.slot-p {
    font-size: 1rem;
}

.my-bookings {
    overflow: auto;
    display: grid;
    max-height: 160px;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}

.button {
    background-color: rgb(36, 36, 36);
    border: 1px solid limegreen;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    appearance: none;
    margin-bottom: 10px;
    padding: 2px;
}

.booking-p {
    font-size: 1rem;
    margin-bottom: 3px;
}