@import url('https://fonts.googleapis.com/css2?family=Liter&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    background-color: rgb(12, 12, 12);
    font-family: "Liter", serif;
}

h1 {
    font-family: "Staatliches", serif;
    font-size: 5rem;
    margin: 50px 0 10px 0;
}

.table-container {
    max-height: 230px;
    overflow: auto;
    width: 95%;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr:first-child{
    color: limegreen;
    height: 20px;
}

td, th {
    padding: 10px;
}

a {
    color: limegreen;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    height: 50vh;
    width: min(50vw, 90%);
    position: relative;
    color: white;
    background-color: rgb(36, 36, 36);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after,
.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;
    padding: 5px;
    border-radius: 30px;
    /* background-image: conic-gradient(from var(--angle), white, lime, white, lime, white); */
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.button {
    background-color: rgb(36, 36, 36);
    color: white;
    border: 1px solid limegreen;
    padding: 3px;
    border-radius: 5px;
}

.success {
    color: green;
}
.error {
    color: red;
}