@import url('https://fonts.googleapis.com/css2?family=Liter&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    background-color: rgb(12, 12, 12);
}

h1 {
    font-family: "Staatliches", serif;
    font-size: 3rem;
    margin-top: 40px;
}

p {
    font-family: "liter", serif;
    margin-bottom: 5px;
}

a {
    color: limegreen;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    height: max(50vh, 370px);
    width: min(500px, 90%);
    position: relative;
    color: white;
    background-color: rgb(36, 36, 36);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after,
.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;
    padding: 5px;
    border-radius: 30px;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email, .psw, .name {
    margin-bottom: 30px;
    height: 30px;
    width: 300px;
}

button {
    font-family: "Staatliches", serif;
    font-size: 1.2rem;
    height: 40px;
    width: 160px;
    color: white;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    border: 2px solid lime;
    box-shadow: 0 0 10px white;
    position: relative;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 20px white;
    transition: 0.2s;
}